/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    color: white;
    --tw-bg-opacity: 1;
    background-color: white;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 0rem 6rem;
    height: 10rem;
    top: 0;
    background-color: black;
}

.nav-links a {
    color: white;
    font-weight: 500;
}

.logo {
    width: 20rem;
    margin-top: 6px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    color: white;
    padding-left: 32px;
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #e3e9fd;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
}